<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>ironman Day4</title>
</head>

<body>
	<ul>
		<li><a href="../" class="active">首頁</a></li>
		<li><a href="../album">相簿</a></li>
		{% if user in USERS %}
		<li><a href="../upload">上傳</a></li>
		<li><a href="../logout">登出</a></li>
		{% else %}
		<li><a href="../register">註冊</a></li>
		<li><a href="../login">登入</a></li>
		{% endif %}
	</ul>

	album

	{#
	<!--  #v3{% for image in files[folder]['photo'] %} --> #}
	<table>
		
		{% for image in dirs %}
		<tr>
			<td>
				<img src="../static/uploads/{{image}}" width="150" height="150">
			</td>

		</tr>
		{% endfor %}
	</table>
	
</body>

</html>