<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>ironman Day4</title>
</head>
<body>
	{% if inputName == "" %}
	<form method="post">
		<input type="text" name="user">
		<input type="submit" name="send" value="送出">
	</form>
	{% else %}
	<p>Hello,{{inputName}}</p>
	{% endif %}

	<ul>
		<li><a href="../" class="active">首頁</a></li>
		<li><a href="../album">相簿</a></li>
		{% if user in USERS %}
		<li><a href="../upload">上傳</a></li>
		<li><a href="../logout">登出</a></li>
		{% else %}
		<li><a href="../register">註冊</a></li>
		<li><a href="../login">登入</a></li>
		{% endif %}
	</ul>
</body>
</html>